// popup styling
.swal2-popup,
.swal2-modal,
.swal2-show {
  background-color: $quaternary;
  img {
    object-fit: cover;
    width: 250px;
    height: 150px;
  }
}

// font style of sweetalert2 text
.swal2-html-container,
.swal2-popup {
  max-width: 82%;
  font-size: 1.7rem;
  color: $secondary;
}

// sweetalert2 button font size
.swal2-actions {
  font-size: 2.25rem;
}

// sweetalert2 button styles to match rest of site
.swal2-confirm,
.swal2-styled,
.swal2-styled.swal2-confirm {
  font-family: $baseFont;
  font-size: 2.3rem;
  margin-top: 40px;
  color: $primary;
  background-color: $secondary;
  border: 4px solid $primary;
  border-radius: 0;
  padding: 10px 6px;
  width: 70px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $secondary;
    background-color: $primary;
    border: 4px solid $secondary;
    border-radius: 0;
  }
}
