body {
  text-align: center;
  background-color: #2F3C7E;
  color: #FBEAEB;
  font-size: 62.5%;
}

.App {
  /* height: calc(100vh - 80px); */
}

.formContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

label {
  font-size: 1.2rem;
  width: 250px;
  text-align: left;
}

select {
  width: 170px;
}

button {
  margin-top: 40px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  margin-top: 100px;
}